/* ESTILOS PARA CERTIFICACIONES_PENDIENTES.HTML */
@import url('certificaciones.css');

.centrado h2 { color: #d9534f; } /* Rojo: pendiente */
.centrado p { color: #5bc0de; } /* Azul claro */

.listado-certificados h3 { display: block; }
.listado-certificados table { width: 98%; margin: 0 auto; }
.listado-certificados { overflow-x: auto; }
.listado-certificados th { color: white; }